body {
  background-color: black;
  color: white;
}

.card {
  width: 250px;
  background-color: rgb(238, 69, 125);
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.price {
  font-size: 20px;
}

.inner-div {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.flex {
  display: flex;
}

.main-nav {
  justify-content: space-between;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
}

.align-center {
  align-items: center;
  gap: 10px;
}

.left-nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right-nav button {
  height: 30px;
  border-radius: 10px;
  background-color: bisque;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}

.heartimg {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  top: 10px;
  right: 10px;
}